/* General styles */
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Nav Bar */
.container {
    background-color: chocolate;
    color: black;    
    position: fixed;
    width: 100%;
    height: 3.5rem;
}

.nav-link {
    list-style: none;
    overflow: hidden;
    display: flex; /*flexbox para acomodar elementos en la pantalla*/
    float: right;
    margin-right: 2rem;
    flex-direction: row;
    margin-right: 3%;
}
.nav-link li a {
    text-decoration: none;
    color: rgb(37, 15, 59);
    margin: 10px;
}

.nav-link li a:hover {
    color: rgb(17, 99, 221)
}

.nav-logo {
    /* Ancho */
    width: 5rem;
    height: auto;
    margin-left: 2rem;
    margin-top: 0;
    float: left;
}

.nav-logo-container {
    margin: 1rem;
}

/* Form section */

.form-section {
    padding: 5rem;
}
.form-container {
    padding: 5rem;
    width: 75%;
    text-align: left;
    margin: 3rem;
    border-radius: .5rem;
    -webkit-box-shadow: -1px 6px 141px 53px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 141px 53px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 141px 53px rgba(0,0,0,0.75);
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.names-container {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 1%;
}

.data-container {
    display: flex;
    flex-direction: column;
    width: 31.3%;
    margin: 1%;
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 5rem;
}

.form-label {
    margin-bottom: .5rem;
    font-size: .8rem;
}

.form-input {
    border-radius: .2rem;
    border: 1px solid #ccc;
    padding: .3rem;
}

.form-input:hover {
    border-radius: .2rem;
    border: 1px solid chocolate;
    padding: .3rem;
}

.header1 {
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-direction: row-reverse;
    width: 98%;
    margin: 2%;
}

.send-button {
    margin: 1%;
    padding: 13px;
    width: 7%;
    text-align: center;
    border-radius: 4%;
    text-decoration: none;
    transition-property: background-color, color, border-radius;
    transition-duration: 1s;
    background-color: black;
    color: white;
}

.cancel-button {
    margin: 1%;
    padding: 13px;
    width: 7%;
    text-align: center;
    border-radius: 4%;
    text-decoration: none;
    transition-property: background-color, color, border-radius;
    transition-duration: 1s;
    background-color: black;
    color: white;
}

.send-button:hover{
    background-color: darkblue;
    border-radius: 2rem;
}

.cancel-button:hover{
    background-color: darkblue;
    border-radius: 2rem;
}

.footer-section {
    color: chocolate;
    background-color: black;
    text-align: center;
    padding: 17px;
}



